@keyframes point {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-75%);
  }
}
@keyframes bloc {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes menu {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(0);
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: unset;
  font-family: "Roboto";
}

h1 {
  font-size: 24px;
  margin: unset;
}

h2 {
  font-size: 24px;
  margin: unset;
}

h4 {
  margin: unset;
}

p {
  margin: unset;
}

a {
  text-decoration: none;
  color: black;
}

/* #home-header,
#home-section-1,
#home-section-2,
#home-footer {
  animation: bloc 0ms $bloc-delay both;
} */
.main-wrapper {
  max-width: 1400px;
  margin: auto;
}

.logo {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 40px 4vh;
  background: white;
  justify-content: space-between;
}
.logo img {
  width: 315px;
  object-fit: contain;
}
@media screen and (max-width: 700px) {
  .logo img {
    width: 160px;
  }
}
@media screen and (max-width: 700px) {
  .logo {
    justify-content: center;
    padding: 2vh 0vh 2vh 0vh;
  }
}
.logo__localisation {
  display: flex;
  justify-content: center;
  padding: 2vh;
  gap: 15px;
  background: #ededed;
  color: #4d4d4d;
  font-weight: 700;
  background: white;
  font-size: 16px;
}
.logo__localisation i {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .logo__localisation {
    display: none;
  }
}

.logo-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 40px 4vh;
  background: white;
  box-shadow: none;
  position: relative;
  background: white;
}
.logo-menu img {
  width: 315px;
  object-fit: contain;
}
@media screen and (max-width: 700px) {
  .logo-menu img {
    width: 160px;
  }
}
@media screen and (max-width: 700px) {
  .logo-menu {
    justify-content: center;
    padding: 2vh 0vh 2vh 0vh;
  }
}
.logo-menu img {
  padding-left: 20px;
}
.logo-menu__back-home {
  position: absolute;
  left: 1vw;
  top: 45%;
}

.button-1 {
  width: 250px;
  height: 50px;
  background: linear-gradient(#ff79da, #9356dc);
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  font-size: 15px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  cursor: pointer;
}
.button-1:hover {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 2px, rgba(0, 0, 0, 0.09) 0px 2px 4px, rgba(0, 0, 0, 0.09) 0px 4px 8px, rgba(0, 0, 0, 0.09) 0px 8px 16px, rgba(0, 0, 0, 0.09) 0px 16px 32px, rgba(0, 0, 0, 0.09) 0px 32px 64px;
}
@media screen and (max-width: 700px) {
  .button-1 {
    width: 190px;
    height: 40px;
    font-size: 13px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .button-1 {
    width: 190px;
    height: 40px;
    font-size: 13px;
  }
}

.button-2 {
  width: 350px;
  position: relative;
  display: flex;
  background: #f7f7f7;
  padding: 22px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.button-2__index {
  position: absolute;
  display: flex;
  font-size: 11px;
  width: 20px;
  height: 20px;
  left: -12px;
  background: #9356dc;
  border-radius: 50%;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
}
.button-2__content {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.button-2__content .fas {
  color: gray;
}
.button-2:hover {
  background: rgba(147, 86, 220, 0.3);
}
.button-2:hover .fas {
  color: #9356dc;
}
@media screen and (max-width: 700px) {
  .button-2 {
    width: auto;
  }
}

.restaurant-card {
  display: block;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  width: 290px;
  height: 230px;
  position: relative;
}
@media screen and (max-width: 700px) {
  .restaurant-card {
    width: auto;
  }
}
.restaurant-card__disclaimer-new {
  position: absolute;
  top: 1vh;
  right: 2vh;
  background: #99e2d0;
  color: #278870;
  padding: 6px 10px 6px 10px;
  font-size: 12px;
  border-radius: 2px;
  font-weight: 700;
}
.restaurant-card__description {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 2vh 2vh 1vh;
}
.restaurant-card__description__fav {
  position: relative;
  transform: scale(1.4);
}
.restaurant-card__description__fav .fas {
  position: absolute;
  right: -5px;
  top: 10px;
  opacity: 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.restaurant-card__description__fav .fas:hover {
  opacity: 1;
  color: #9356dc;
  cursor: pointer;
}
.restaurant-card__description__fav .far {
  position: absolute;
  right: -5px;
  top: 10px;
  opacity: 1;
}
.restaurant-card img {
  max-width: 100%;
  min-width: 100%;
  height: 70%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.menu-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 30%;
  height: 100px;
  gap: 10px;
  overflow: hidden;
  animation: menu 1000ms ease-in-out both;
}
.menu-card--1 {
  animation-delay: 200ms;
}
.menu-card--2 {
  animation-delay: 400ms;
}
.menu-card--3 {
  animation-delay: 600ms;
}
.menu-card--4 {
  animation-delay: 800ms;
}
.menu-card--5 {
  animation-delay: 1000ms;
}
.menu-card--6 {
  animation-delay: 1200ms;
}
.menu-card--7 {
  animation-delay: 1400ms;
}
.menu-card--8 {
  animation-delay: 1600ms;
}
.menu-card--9 {
  animation-delay: 1800ms;
}
.menu-card--10 {
  animation-delay: 2000ms;
}
.menu-card--11 {
  animation-delay: 2200ms;
}
.menu-card--12 {
  animation-delay: 2400ms;
}
.menu-card--13 {
  animation-delay: 2600ms;
}
.menu-card--14 {
  animation-delay: 2800ms;
}
.menu-card--15 {
  animation-delay: 3000ms;
}
.menu-card--16 {
  animation-delay: 3200ms;
}
.menu-card--17 {
  animation-delay: 3400ms;
}
.menu-card--18 {
  animation-delay: 3600ms;
}
.menu-card--19 {
  animation-delay: 3800ms;
}
.menu-card--20 {
  animation-delay: 4000ms;
}
.menu-card--21 {
  animation-delay: 4200ms;
}
.menu-card--22 {
  animation-delay: 4400ms;
}
.menu-card--23 {
  animation-delay: 4600ms;
}
.menu-card--24 {
  animation-delay: 4800ms;
}
.menu-card--25 {
  animation-delay: 5000ms;
}
.menu-card--26 {
  animation-delay: 5200ms;
}
.menu-card--27 {
  animation-delay: 5400ms;
}
.menu-card--28 {
  animation-delay: 5600ms;
}
.menu-card--29 {
  animation-delay: 5800ms;
}
.menu-card--30 {
  animation-delay: 6000ms;
}
.menu-card--31 {
  animation-delay: 6200ms;
}
.menu-card--32 {
  animation-delay: 6400ms;
}
.menu-card--33 {
  animation-delay: 6600ms;
}
.menu-card--34 {
  animation-delay: 6800ms;
}
.menu-card--35 {
  animation-delay: 7000ms;
}
.menu-card--36 {
  animation-delay: 7200ms;
}
.menu-card--37 {
  animation-delay: 7400ms;
}
.menu-card--38 {
  animation-delay: 7600ms;
}
.menu-card--39 {
  animation-delay: 7800ms;
}
.menu-card--40 {
  animation-delay: 8000ms;
}
.menu-card--41 {
  animation-delay: 8200ms;
}
.menu-card--42 {
  animation-delay: 8400ms;
}
.menu-card--43 {
  animation-delay: 8600ms;
}
.menu-card--44 {
  animation-delay: 8800ms;
}
.menu-card--45 {
  animation-delay: 9000ms;
}
.menu-card--46 {
  animation-delay: 9200ms;
}
.menu-card--47 {
  animation-delay: 9400ms;
}
.menu-card--48 {
  animation-delay: 9600ms;
}
.menu-card--49 {
  animation-delay: 9800ms;
}
.menu-card--50 {
  animation-delay: 10000ms;
}
.menu-card__description {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 80%;
  padding: 10px;
  justify-content: center;
  transition: width 500ms ease-in-out;
}
.menu-card__description p {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card__description h4 {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 700px) {
  .menu-card__description {
    justify-content: unset;
  }
}
.menu-card__price {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 10px;
}
@media screen and (max-width: 700px) {
  .menu-card__price {
    align-items: flex-end;
  }
}
.menu-card__animation {
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #99e2d0;
  transition: all ease-in-out 500ms;
  opacity: 0;
  z-index: -2;
}
.menu-card__animation i {
  transition: all 400ms ease-in-out;
}
@media screen and (max-width: 700px) {
  .menu-card:hover .menu-card__description {
    width: 70%;
  }
}
.menu-card:hover .menu-card__animation {
  width: 50px;
  opacity: 1;
  z-index: inherit;
}
.menu-card:hover .menu-card__animation i {
  transform: rotate(360deg);
}
@media screen and (max-width: 700px) {
  .menu-card {
    width: 100%;
    height: unset;
  }
}

footer {
  background: #0d0d0d;
}
footer .footer-container {
  max-width: 1400px;
  margin: auto;
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-container .logo-footer {
  font-family: "Shrikhand";
}
footer .footer-container .footer-content {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .footer-container .footer-content a {
  color: white;
}
footer .footer-container .footer-content__line {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}
footer .footer-container .footer-content__line .fas {
  width: 10px;
}

.loader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgba(153, 226, 208, 0.5);
  display: none;
}
.loader .progress {
  width: 50vw;
  height: 3vh;
  padding: 5px;
  position: absolute;
  top: 50vh;
  left: 25vw;
  display: flex;
  justify-content: space-around;
}
.loader .progress__point {
  width: 20px;
  height: 20px;
  background: #9356dc;
  border-radius: 50%;
  animation: point 1000ms backwards infinite ease-in-out alternate;
}
.loader .progress__point--1 {
  animation-delay: 300ms;
}
.loader .progress__point--2 {
  animation-delay: 600ms;
}
.loader .progress__point--3 {
  animation-delay: 900ms;
}

.localisation {
  display: flex;
  justify-content: center;
  padding: 2vh;
  gap: 15px;
  background: #ededed;
  color: #4d4d4d;
  font-weight: 700;
  display: none;
}
.localisation i {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .localisation {
    display: flex;
  }
}

.main-disclaimer {
  display: flex;
  gap: unset;
  justify-content: space-between;
  padding: 70px 5vh 70px 4vh;
  text-align: center;
  background: #f7f7f7;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
.main-disclaimer__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 700px) {
  .main-disclaimer__description {
    align-items: unset;
    gap: 2vh;
  }
}
.main-disclaimer__description__title {
  padding: unset;
}
@media screen and (max-width: 700px) {
  .main-disclaimer__description__title {
    padding-left: 5vh;
    padding-right: 5vh;
  }
}
.main-disclaimer__description__element {
  color: gray;
}
.main-disclaimer__call-to-action {
  width: auto;
  display: flex;
  justify-content: center;
  padding: unset;
}
@media screen and (max-width: 700px) {
  .main-disclaimer__call-to-action {
    width: 100%;
    padding-top: 3vh;
  }
}
@media screen and (max-width: 700px) {
  .main-disclaimer {
    flex-direction: column;
    gap: 17px;
  }
}

.how-it-works {
  padding: 70px 5vh 70px 4vh;
  display: flex;
  flex-direction: column;
  gap: 45px;
  background: white;
}
.how-it-works__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 3vh;
}
@media screen and (max-width: 700px) {
  .how-it-works__wrapper {
    flex-direction: column;
    padding: 0vh 2vh;
  }
}
@media screen and (max-width: 700px) {
  .how-it-works {
    padding: 6vh 2vh 10vh 2vh;
    gap: 3vh;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 3vh 4vh;
  background: #f7f7f7;
}
.restaurants .container-restaurants-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2vh;
}
@media screen and (max-width: 700px) {
  .restaurants .container-restaurants-cards {
    flex-direction: column;
    justify-content: unset;
  }
}
@media screen and (max-width: 700px) {
  .restaurants {
    padding: 6vh 2vh;
  }
}

.illustration {
  position: relative;
  z-index: 2;
}
.illustration img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
@media screen and (max-width: 700px) {
  .illustration img {
    height: auto;
    object-fit: unset;
  }
}

.menu {
  padding: 1.5vh;
  background: #ededed;
  position: relative;
  width: 100%;
  z-index: 3;
  margin-top: -44px;
  border-radius: 20px 20px 0px 0px;
}
.menu__title {
  font-family: "Shrikhand";
  display: flex;
  justify-content: flex-start;
  gap: 45px;
  padding-top: 1vh;
}
.menu__title h1 {
  font-weight: 300;
}
.menu__title__fav {
  position: relative;
  transform: scale(1.3);
}
.menu__title__fav .fas {
  position: absolute;
  right: -5px;
  top: 10px;
  opacity: 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.menu__title__fav .fas:hover {
  opacity: 1;
  color: #9356dc;
  cursor: pointer;
}
.menu__title__fav .far {
  position: absolute;
  right: -5px;
  top: 10px;
  opacity: 1;
}
.menu .container-menu-card {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  z-index: 1;
  position: relative;
}
.menu .container-menu-card__title {
  padding: 3vh 0vh 4px 0px;
  border-bottom: solid 3px #99e2d0;
  width: 40px;
  font-size: 14px;
}
.menu .container-menu-card__wrapper {
  display: flex;
  gap: 10px;
  overflow: hidden;
  padding: 6px;
}
@media screen and (max-width: 700px) {
  .menu .container-menu-card__wrapper {
    flex-direction: column;
  }
}
.menu .command-line {
  display: flex;
  justify-content: center;
  padding: 4vh 1vh 5vh 1vh;
}

/*# sourceMappingURL=style.css.map */
