.restaurant-card {
  display: block;
  box-shadow: $primary-box-shadow;
  border-radius: 20px;
  width: 290px;
  height: 230px;
  position: relative;

  @media screen and (max-width: $small-screen) {
    width: auto;
  }

  &__disclaimer-new {
    position: absolute;
    top: 1vh;
    right: 2vh;
    background: $color-tertiary;
    color: darken($color-tertiary, 40%);
    padding: 6px 10px 6px 10px;
    font-size: 12px;
    border-radius: 2px;
    font-weight: 700;
  }

  &__description {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 2vh 2vh 1vh;

    &__fav {
      position: relative;
      transform: scale(1.4);

      @include fav;
    }
  }

  img {
    max-width: 100%;
    min-width: 100%;
    height: 70%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
  }
}

.menu-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 10px;
  box-shadow: $primary-box-shadow;
  width: 30%;
  height: 100px;
  gap: 10px;
  overflow: hidden;
  animation: menu $menu-duration ease-in-out both;
  @for $i from 1 through 50 {
    &--#{$i} {
      animation-delay: 200ms * $i;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 80%;
    padding: 10px;
    justify-content: center;
    transition: width 500ms ease-in-out;

    p {
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    h4 {
      font-size: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @media screen and (max-width: $small-screen) {
      justify-content: unset;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 10px;

    @media screen and (max-width: $small-screen) {
      align-items: flex-end;
    }
  }

  &__animation {
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-tertiary;
    transition: all ease-in-out 500ms;
    opacity: 0;
    z-index: -2;

    i {
      transition: all 400ms ease-in-out;
    }
  }

  &:hover {
    @media screen and (max-width: $small-screen) {
      .menu-card__description {
        width: 70%;
      }
    }

    .menu-card__animation {
      width: 50px;
      opacity: 1;
      z-index: inherit;

      i {
        transform: rotate(360deg);
      }
    }
  }

  @media screen and (max-width: $small-screen) {
    width: 100%;
    height: unset;
  }
}
