footer {
  background: lighten(black, 5%);

  .footer-container {
    max-width: 1400px;
    margin: auto;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .logo-footer {
      font-family: $secondary-font;
    }

    .footer-content {
      font-size: 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      &__line {
        display: flex;
        justify-content: flex-start;
        gap: 8px;

        .fas {
          width: 10px;
        }
      }
    }
  }
}
