.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(153, 226, 208, 0.5);
  animation: loader;
  animation-delay: $bloc-delay;
  animation-fill-mode: forwards;

  .progress {
    width: 50vw;
    height: 3vh;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 20%;
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: $small-screen) {
      top: 50vh;
      left: 25vw;
    }

    &__point {
      width: 20px;
      height: 20px;
      background: $color-primary;
      border-radius: 50%;
      animation: point $loader-duration backwards infinite ease-in-out alternate;
      @for $i from 1 through 3 {
        &--#{$i} {
          animation-delay: calc(300ms * $i);
        }
      }
    }
  }
}
