.logo {
  @include logo;
}

.logo-menu {
  @include logo;
  box-shadow: none;
  position: relative;
  background: lighten(#ededed, 10%);

  &__back-home {
    position: absolute;
    left: 15px;
    top: 25px;
  }
}
