.logo {
  @include logo;
  justify-content: space-between;

  &__localisation {
    @include localisation;
    background: white;
    font-size: 16px;

    @media screen and (max-width: $small-screen) {
      display: none;
    }
  }
}

.logo-menu {
  @include logo;
  box-shadow: none;
  position: relative;
  background: lighten(#ededed, 10%);

  img {
    padding-left: 20px;
  }

  &__back-home {
    position: absolute;
    left: 1vw;
    top: 45%;
  }
}
