.logo {
  position: relative;
  display: flex;
  justify-content: center;
  /*box-shadow: rgb(50 50 93 0 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 0 / 30%) 0px 1px 3px -1px;*/
  img {
    width: 180px;
    padding-top: 4vh;
    padding-bottom: 2vh;
  }
}
