.localisation {
  @include localisation;
  display: none;

  @media screen and (max-width: $small-screen) {
    display: flex;
  }
}

.main-disclaimer {
  display: flex;
  gap: unset;
  justify-content: space-between;
  padding: 70px 5vh 70px 4vh;
  text-align: center;
  background: $background-grey;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (max-width: $small-screen) {
      align-items: unset;
      gap: 2vh;
    }

    &__title {
      padding: unset;

      @media screen and (max-width: $small-screen) {
        padding-left: 5vh;
        padding-right: 5vh;
      }
    }

    &__element {
      color: lighten(black, 50%);
    }
  }

  &__call-to-action {
    width: auto;
    display: flex;
    justify-content: center;
    padding: unset;

    @media screen and (max-width: $small-screen) {
      width: 100%;
      padding-top: 3vh;
    }
  }

  @media screen and (max-width: $small-screen) {
    flex-direction: column;
    gap: 17px;
  }
}

.how-it-works {
  padding: 70px 5vh 70px 4vh;
  display: flex;
  flex-direction: column;
  gap: 45px;
  background: white;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 3vh;

    @media screen and (max-width: $small-screen) {
      flex-direction: column;
      padding: 0vh 2vh;
    }
  }

  @media screen and (max-width: $small-screen) {
    padding: 6vh 2vh 10vh 2vh;
    gap: 3vh;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 3vh 4vh;
  background: $background-grey;

  .container-restaurants-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2vh;

    @media screen and (max-width: $small-screen) {
      flex-direction: column;
      justify-content: unset;
    }
  }

  @media screen and (max-width: $small-screen) {
    padding: 6vh 2vh;
  }
}
