@keyframes point {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-75%);
  }
}

@keyframes bloc {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes menu {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(0);
  }
}
