@mixin logo {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  padding: 40px 4vh;
  background: white;
  img {
    width: 315px;
    object-fit: contain;

    @media screen and (max-width: $small-screen) {
      width: 160px;
    }
  }

  @media screen and (max-width: $small-screen) {
    justify-content: center;
    padding: 2vh 0vh 2vh 0vh;
  }
}

@mixin fav {
  .fas {
    position: absolute;
    right: -5px;
    top: 10px;
    opacity: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 1;
      color: $color-primary;
      cursor: pointer;
    }
  }

  .far {
    position: absolute;
    right: -5px;
    top: 10px;
    opacity: 1;
  }
}

@mixin localisation {
  display: flex;
  justify-content: center;
  padding: 2vh;
  gap: 15px;
  background: $background-grey-dark;
  color: lighten(black, 30%);
  font-weight: 700;

  i {
    display: flex;
    align-items: center;
  }
}
