*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: unset;
  font-family: "Roboto";
}

h1 {
  font-size: 24px;
  margin: unset;
}

h4 {
  margin: unset;
}

p {
  margin: unset;
}

a {
  text-decoration: none;
  color: black;
}

header,
section,
footer {
  animation: bloc 0ms $bloc-delay both;
}
